<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Model Trainer - Session Page</title>
    <!--<link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='index.css') }}">-->
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>

    <h1>Welcome to the Model Trainer home page</h1>
    <div>
    <p></p>
     <h2>Login</h2>
   </div>
    <div class="login-box">
        <form action="/login" method="post">
            <input type="text" name="username" placeholder="Username" required><br><br>
            <input type="password" name="password" placeholder="Password" required><br><br>
            <input type="submit" value="Login">
            <input type="hidden" name="start_pressed" value="true">
        </form>
    </div>
    <div>
       <br><br> Not yet signed up?<a href="/signup">signup here</a><br><br>
    </div>
     <!--<a href="/login">Login</a><br><br>-->
</body>
</html>
